<html>
<head>
    <title>Test Widget</title>

  <script src="https://app.engati.com/static/js/chat_widget.js"></script>
</head>
<body><table style='font-family: arial, sans-serif; font-size:13px ;border-collapse: collapse; width: 100%'>
   <tr>
    <th style='border: 1px solid #dddddd; text-align:left; padding:8px'>Order Id</th>
     <th style='border: 1px solid #dddddd; text-align:left; padding:8px'>Order Amount</th>
    <th style='border: 1px solid #dddddd; text-align:left; padding:8px'>Customer Email</th>
     <th style='border: 1px solid #dddddd; text-align:left; padding:8px'>Payment Method</th>
  <th style='border: 1px solid #dddddd; text-align:left; padding:8px'>Date and Time</th>
 </tr>
   <tr >
   <td style='border: 1px solid #dddddd; text-align:left; padding:8px'>12009908014</td>
   <td style='border: 1px solid #dddddd; text-align:left; padding:8px'>Rp 1,469,000</td>
   <td style='border: 1px solid #dddddd; text-align:left; padding:8px'>ayan_ray4u@yahoo.co.in</td>
  <td style='border: 1px solid #dddddd; text-align:left; padding:8px'>Indomaret</td>
    <td style='border: 1px solid #dddddd; text-align:left; padding:8px'>18 Oct 2017 16:30:26</td>
    </tr>
    </table></body>
<script>EngtChat.init({"bot_key": "b5e84c9fbf5a45eb", "e":"p", "bot_name":"FIZObot","welcome_msg":true});</script>
</html>